@import "../../ui/exhibition-h5/developer/developer-header.css";
@import "../../ui/exhibition-h5/developer/developer-footer.css";

.list-box {
    padding: 2.7vw 4vw;
}

.img-box {
    padding-bottom: 4.7vw;
}

.img-box img {
    width: 100%;
    height: 50vw;
}

.list-content {
    margin-bottom: 4vm;
}

.list-content ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.list-content ul li {
    width: 49%;
    padding: 0 2px;
    border: 1px solid #1bc7c9;
    text-align: center;
    margin-bottom: 2%;
}

.list-content ul li a {
    display: block;
}

.list-content ul li:nth-child(2n-1) {
    margin-right: .5%;
}

.list-content ul li .title {
    margin-top: 2px;
    font-size: 3.5vw;
    color: #fff;
    background-color: #1bc7c9;
    padding: 2vw 1vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.clear {
    clear: both;
}

.list-content ul li img {
    margin: 1vw 0;
    width: 20vw;
    height: 10vw;
}

.list-content ul li .list-detail {
    text-align: left;
}

.list-content ul li .list-detail p {
    border-bottom: 1px solid #efefef;
    height: 30px;
    padding-top: 10px;
    padding-left: 5px;
    font-size: 12px;
    color: #919191;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.list-content ul li .list-detail p:first-child {
    font-size: 13px;
    color: #757575;
    height: 25px;
    padding-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-content ul li .time {
    height: 10vw;
    line-height: 10vw;
    padding-left: 5px;
    font-size: 11px;
    color: #757575;
}

.list-content ul li .time img {
    width: 4.5vw;
    height: 5vw;
    margin-right: 1vw;
}

.list-content ul li .time span:first-child {
    float: left;
}

.list-content ul li .time span:last-child {
    float: right;
}

.content-empty {
    width:100%;
    margin-top: 70px;
    text-align: center;
}

.content-empty p {
    color: #BBBBBB;
    font-size: 15px;
    margin-top: 22px;
}

@media (max-device-width: 320px) {
    .list-content ul li .list-detail p:first-child {
        font-size: 12px;
        letter-spacing: -1px;
    }

    .list-content ul li .list-detail p {
        font-size: 11px;
    }

    .list-content ul li .time {
        font-size: 10px;
    }
}

@media (min-device-width: 376px) and (max-device-width: 414px) {
    .list-content ul li .list-detail p:first-child {
        font-size: 14px;
    }

    .list-content ul li .list-detail p {
        font-size: 13px;
    }

    .list-content ul li .time {
        font-size: 12px;
    }
}